services:
  db:
    container_name: bloom-db
    image: postgres:17-alpine
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dbnet

  app:
    container_name: bloom-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000" 
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db
    networks:
      - dbnet  
      
  studio:
    image: node:22-alpine
    container_name: prisma-studio
    working_dir: /app
    command: npx prisma studio
    env_file:
      - .env
    volumes:
      - .:/app
    ports:
      - "5555:5555"
    networks:
      - dbnet

volumes:
  postgres_data: 

networks:
  dbnet: