@import "tailwindcss";
@import "tw-animate-css";
@import "uploadthing/tw/v4";
@source "../../node_modules/@uploadthing/react/dist";
@custom-variant dark (&:is(.dark *));

:root {
  --display-family: var(--font-sans);
  --display-weight: 500;
  --text-family: var(--font-sans);
  --text-weight: 500;

  --base-50: oklch(0.9825 0.0032 146.74);
  --base-100: oklch(0.9676 0.0062 147.76);
  --base-200: oklch(0.9247 0.0127 148.2);
  --base-300: oklch(0.8683 0.0189 149.2);
  --base-400: oklch(0.7064 0.0283 150.5);
  --base-500: oklch(0.5866 0.0378 151.75);
  --base-600: oklch(0.4447 0.0357 152.52);
  --base-700: oklch(0.3728 0.0314 151.95);
  --base-800: oklch(0.2729 0.026 151.57);
  --base-900: oklch(0.2119 0.0213 152.25);
  --base-950: oklch(0.1382 0.0185 151.74);
  --base-1000: oklch(0.0905 0.0163 152.2);

  --dark-base-50: oklch(0.985 0 0);
  --dark-base-100: oklch(0.97 0 0);
  --dark-base-200: oklch(0.922 0 0);
  --dark-base-300: oklch(0.87 0 0);
  --dark-base-400: oklch(0.708 0 0);
  --dark-base-500: oklch(0.556 0 0);
  --dark-base-600: oklch(0.439 0 0);
  --dark-base-700: oklch(0.371 0 0);
  --dark-base-800: oklch(0.269 0 0);
  --dark-base-900: oklch(0.205 0 0);
  --dark-base-950: oklch(0.145 0 0);

  --primary-50: oklch(0.9866 0.0288 120.05);
  --primary-100: oklch(0.9676 0.0628 121.5);
  --primary-200: oklch(0.9384 0.1189 123.4);
  --primary-300: oklch(0.8719 0.1829 125.59);
  --primary-400: oklch(0.8416 0.2214 127.63);
  --primary-500: oklch(0.7692 0.2165 129.47);
  --primary-600: oklch(0.6495 0.1859 130.24);
  --primary-700: oklch(0.5331 0.1462 130.1);
  --primary-800: oklch(0.4542 0.1157 129.41);
  --primary-900: oklch(0.406 0.0943 129.43);
  --primary-950: oklch(0.2748 0.0672 130.42);
  --primary-1000: oklch(0.1896 0.0494 131.02);

  --secondary-50: oklch(0.9864 0.0292 107.18);
  --secondary-100: oklch(0.9707 0.0729 106.49);
  --secondary-200: oklch(0.9567 0.1345 106.82);
  --secondary-300: oklch(0.9019 0.1962 106.16);
  --secondary-400: oklch(0.8477 0.2092 105.6);
  --secondary-500: oklch(0.7848 0.1926 104.52);
  --secondary-600: oklch(0.6685 0.1637 104.06);
  --secondary-700: oklch(0.5456 0.133 103.15);
  --secondary-800: oklch(0.4672 0.1133 101.94);
  --secondary-900: oklch(0.4148 0.0998 99.97);
  --secondary-950: oklch(0.2814 0.0677 99.79);
  --secondary-1000: oklch(0.1945 0.0466 99.08);

  --background: var(--base-100);
  --foreground: var(--base-800);
  --card: var(--color-white);
  --card-foreground: var(--base-800);
  --popover: var(--color-white);
  --popover-foreground: var(--base-800);
  --primary: var(--primary-300);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-200);
  --secondary-foreground: var(--color-black);
  --muted: var(--base-200);
  --muted-foreground: var(--base-600);
  --accent: var(--base-50);
  --accent-foreground: var(--base-800);
  --destructive: oklch(68.11% 0.19543 22.855);
  --border: var(--base-200);
  --input: var(--base-300);
  --ring: var(--primary-300);
  --chart-1: var(--primary-300);
  --chart-2: var(--secondary-200);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --analytics-red: #dc2626;
  --analytics-amber: #f59e0b;
  --analytics-yellow: #fbbf24;
  --analytics-lime: #a3e635;
  --analytics-green: #22c55e;
  --radius: 1rem;
  --sidebar: var(--color-white);
  --sidebar-foreground: var(--base-800);
  --sidebar-primary: var(--primary-300);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--base-200);
  --sidebar-accent-foreground: var(--base-800);
  --sidebar-border: var(--base-200);
  --sidebar-ring: var(--primary-300);
}

.dark {
  --background: var(--dark-base-900);
  --foreground: var(--dark-base-200);
  --card: var(--dark-base-800);
  --card-foreground: var(--dark-base-200);
  --popover: var(--dark-base-800);
  --popover-foreground: var(--dark-base-200);
  --primary: var(--primary-300);
  --primary-foreground: var(--color-black);
  --secondary: var(--secondary-200);
  --secondary-foreground: var(--color-black);
  --muted: var(--dark-base-700);
  --muted-foreground: var(--dark-base-400);
  --accent: var(--dark-base-950);
  --accent-foreground: var(--dark-base-200);
  --destructive: oklch(0.704 0.191 22.216);
  --border: var(--dark-base-800);
  --input: var(--dark-base-700);
  --ring: var(--primary-300);
  --chart-1: var(--primary-300);
  --chart-2: var(--secondary-200);
  --chart-3: var(--primary-300);
  --chart-4: var(--secondary-300);
  --chart-5: var(--primary-100);
  --analytics-red: #dc2626;
  --analytics-amber: #f59e0b;
  --analytics-yellow: #fbbf24;
  --analytics-lime: #a3e635;
  --analytics-green: #22c55e;
  --sidebar: var(--dark-base-800);
  --sidebar-foreground: var(--dark-base-200);
  --sidebar-primary: var(--primary-300);
  --sidebar-primary-foreground: var(--color-black);
  --sidebar-accent: var(--dark-base-900);
  --sidebar-accent-foreground: var(--dark-base-200);
  --sidebar-border: var(--dark-base-800);
  --sidebar-ring: var(--primary-300);
}
/* Theme variables */
@theme inline {
  --font-sans: var(--font-nunito);
  --font-display: var(--display-family);
  --font-text: var(--text-family);

  --color-white: #ffffff;
  --color-black: #000000;
  --color-off-white: #ece9e3;

  --color-base-50: var(--base-50);
  --color-base-100: var(--base-100);
  --color-base-200: var(--base-200);
  --color-base-300: var(--base-300);
  --color-base-400: var(--base-400);
  --color-base-500: var(--base-500);
  --color-base-600: var(--base-600);
  --color-base-700: var(--base-700);
  --color-base-800: var(--base-800);
  --color-base-900: var(--base-900);
  --color-base-950: var(--base-950);
  --color-base-1000: var(--base-1000);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-1000: var(--primary-1000);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);
  --color-secondary-1000: var(--secondary-1000);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-analytics-red: var(--analytics-red);
  --color-analytics-amber: var(--analytics-amber);
  --color-analytics-yellow: var(--analytics-yellow);
  --color-analytics-lime: var(--analytics-lime);
  --color-analytics-green: var(--analytics-green);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* Global styles */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  .font-display {
    font-weight: var(--display-weight);
  }

  .font-text {
    font-weight: var(--text-weight);
  }
}
